.form {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
  position: static;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.input {
  height: 36px;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding-left: 45px;
  border: 1px solid #0e0e56;
  color: #0e0e56;
  font-size: 15px;
}

.btn {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #0e0e56;
  border: none;
  padding: 8px;
  cursor: pointer;
}
