.actorList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 35px;
}
.personCard {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
}
.img {
  padding: 10px;
  background-color: rgb(50, 49, 49);
  border-radius: 30px;
  transition: transform 0.3s ease;
  max-width: 150px;
  border-radius: 30px;
  text-align: center;
}
.info {
  text-align: center;
}
